BenchmarkFlow.json
[{"id":"ebd8db84.62885","type":"function","z":"ca72ff25.f066a8","name":"Initialize Context Variables Array (Timeslot+Counter)","func":"//context.global.currentBoundingBoxes= [];\nglobal.set(\"currentBoundingBoxes\",[]);\nvar today = new Date();\n\nvar currentTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), 0, 0);\nglobal.set(\"currentTimeslot\",Date.parse(currentTime));//to convert to milliseconds instead of 12:00:00 etc.\n\n\nreturn msg;","outputs":1,"noerr":0,"x":447.50390625,"y":677.337158203125,"wires":[[]]},{"id":"596b2d77.840a2c","type":"function","z":"ca72ff25.f066a8","name":"Print Current Registered Boxes","func":"//msg.timeSlot=context.global.currentTimeslot;\n//msg.counter=context.global.currentCounter;\nmsg.currentBoundingBoxes=context.global.currentBoundingBoxes;\nreturn msg;","outputs":1,"noerr":0,"x":340.9920349121094,"y":450.5162048339844,"wires":[["adf1712e.84888"]]},{"id":"adf1712e.84888","type":"debug","z":"ca72ff25.f066a8","name":"","active":true,"console":"false","complete":"currentBoundingBoxes","x":631.3255004882812,"y":448.6588439941406,"wires":[]},{"id":"b73209ed.532a68","type":"inject","z":"ca72ff25.f066a8","name":"PRINT","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":103.37301635742188,"y":451.51605224609375,"wires":[["596b2d77.840a2c"]]},{"id":"7e4b9290.2e0eec","type":"inject","z":"ca72ff25.f066a8","name":"INITIALIZATION","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":95,"y":686.682373046875,"wires":[["ebd8db84.62885"]]},{"id":"d077b48d.c89b38","type":"function","z":"ca72ff25.f066a8","name":"cropTweet","func":"//ts (long) required\n//text (string) required\n//lon (double) required\n//lat (double) required\n//twitter_id (string) required\n//sentiment (string) optional \n\nif (msg.payload.coordinates){\n    \nvar ts=Number(msg.payload.timestamp_ms);\nvar text=msg.payload.text;\nvar lon=msg.payload.coordinates.coordinates[0];\nvar lat=msg.payload.coordinates.coordinates[1];\n//console.log(\"THIS IS THE PRINTED\"+lon);\nvar twitter_id=msg.payload.user.id_str;\nmsg.payload={};//PROPER INITIALIZATION, SHOULD NOT BE DONE WITH JUST \"\"\nmsg.payload.ts=ts;\nmsg.payload.text=text;\nmsg.payload.lon=lon;\nmsg.payload.lat=lat;\nmsg.payload.twitter_id=twitter_id;\nmsg.payload.sentiment=\"\";\nnode.send(msg);\n}","outputs":1,"noerr":0,"x":483.61102294921875,"y":83.61105346679688,"wires":[["beaf1106.d9eaa"]]},{"id":"fe9d43bd.c9847","type":"inject","z":"ca72ff25.f066a8","name":"Add X boxes per interval","topic":"","payload":"{\"GPS\": { \"SW\":{ \"lon\":-3.75698, \"lat\":40.39022 }, \"NE\":{ \"lon\":-3.62514, \"lat\":40.4903 } },\"userid\": \"1\",\"routeID\":\"5\" }","payloadType":"str","repeat":"900","crontab":"","once":false,"x":125,"y":267.23797607421875,"wires":[["60b90088.ef835"]]},{"id":"60b90088.ef835","type":"json","z":"ca72ff25.f066a8","name":"","x":61.8848876953125,"y":316.0753479003906,"wires":[["bbf2a070.0a3fa"]]},{"id":"beaf1106.d9eaa","type":"function","z":"ca72ff25.f066a8","name":"filterTweetsManagecounters","func":"//get tweet GPS----they are already numbers\nvar px=msg.payload.lon;\nvar py=msg.payload.lat;\nvar lengthsize=context.global.currentBoundingBoxes.length;\nvar thisTime=new Date();\nvar Slot=new Date();\nSlot.setTime(context.global.currentTimeslot);//global variable seems to maintain only the milliseconds value and not the Date object\n\nvar hoursDiff=hoursBetween(Slot, thisTime);\nmsg.hoursDiff=hoursDiff;\nif (hoursDiff>=1){\n    k=0;\n    var today = new Date();\n    var currentTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours(), 0, 0);\n    currentTime=Date.parse(currentTime);//to convert to milliseconds instead of 12:00:00 etc.\n    context.global.currentTimeslot=currentTime;\n    for (k = 0; k < lengthsize; k++) {\n        \n        //reset counter---perhaps we need to reset all counters????\n        context.global.currentBoundingBoxes[k].currentCounter=0;\n    }\n    \n    \n}\n//loop around currentBoundingBoxes to check if the specific tweet is included in any of them\nfor (i=0;i<lengthsize; i++){\n    //get GPS of this box\n    //SW\n    var ix=context.global.currentBoundingBoxes[i].GPS.SW.lon;\n    var iy=context.global.currentBoundingBoxes[i].GPS.SW.lat;\n    //NE\n    var ax=context.global.currentBoundingBoxes[i].GPS.NE.lon;\n    var ay=context.global.currentBoundingBoxes[i].GPS.NE.lat;\n    //calculate if in box\n\n    if (ix<px&&px<ax&&iy<py&&py<ay) {\n        \n        \n        if (hoursDiff<1){ //same hour slot\n            context.global.currentBoundingBoxes[i].currentCounter=context.global.currentBoundingBoxes[i].currentCounter+1;\n        }\n        \n    }\n\n}\n\nfunction hoursBetween(first, second) {\n\n    // Copy date parts of the timestamps, discarding the time parts.\n    //var one = new Date(first.getFullYear(), first.getMonth(), first.getDate());\n    //var two = new Date(second.getFullYear(), second.getMonth(), second.getDate());\n\n    // Do the math.\n    var millisecondsPerHour = 1000 * 60 * 60 ;\n    var millisBetween = second.getTime() - first.getTime();\n    var hours = millisBetween / millisecondsPerHour;\n\n    // Round down.\n    return Math.floor(hours);\n}\nreturn msg;","outputs":1,"noerr":0,"x":711.6666259765625,"y":73,"wires":[["5966ad88.aa7624"]]},{"id":"22ff3339.e9b60c","type":"inject","z":"ca72ff25.f066a8","name":"DummyTweet-INSERT interval","topic":"","payload":"{\"created_at\":\"Sun May 28 10:53:46 +0000 2017\",\"id\":868782342617354200,\"id_str\":\"868782342617354241\",\"text\":\"📸_earlgreyxx\\n\\nI’m under the gun again @ WRONG WAY BAR https://t.co/jyd4Ka8YoW\",\"source\":\"<a href=\\\"http://instagram.com\\\" rel=\\\"nofollow\\\">Instagram</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":504890538,\"id_str\":\"504890538\",\"name\":\"Iris\",\"screen_name\":\"Ori_Orina\",\"location\":\"Madrid\",\"url\":\"https://www.instagram.com/welcometomordor/\",\"description\":\"Don't apologize; I hope you choke and die.\",\"protected\":false,\"verified\":false,\"followers_count\":197,\"friends_count\":342,\"listed_count\":0,\"favourites_count\":2715,\"statuses_count\":10663,\"created_at\":\"Sun Feb 26 19:30:55 +0000 2012\",\"utc_offset\":7200,\"time_zone\":\"Madrid\",\"geo_enabled\":true,\"lang\":\"es\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"1A1B1F\",\"profile_background_image_url\":\"http://pbs.twimg.com/profile_background_images/523930443633025024/MlHrTL-D.jpeg\",\"profile_background_image_url_https\":\"https://pbs.twimg.com/profile_background_images/523930443633025024/MlHrTL-D.jpeg\",\"profile_background_tile\":true,\"profile_link_color\":\"000000\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"252429\",\"profile_text_color\":\"666666\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/841036454893621248/HGrdFU4Q_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/841036454893621248/HGrdFU4Q_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/504890538/1466452683\",\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":{\"type\":\"Point\",\"coordinates\":[40.4264,-3.70521]},\"coordinates\":{\"type\":\"Point\",\"coordinates\":[-3.70521,40.4264]},\"place\":{\"id\":\"206c436ce43a43a3\",\"url\":\"https://api.twitter.com/1.1/geo/id/206c436ce43a43a3.json\",\"place_type\":\"city\",\"name\":\"Madrid\",\"full_name\":\"Madrid, España\",\"country_code\":\"ES\",\"country\":\"España\",\"bounding_box\":{\"type\":\"Polygon\",\"coordinates\":[[[-3.889005,40.312071],[-3.889005,40.643518],[-3.51801,40.643518],[-3.51801,40.312071]]]},\"attributes\":{}},\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"urls\":[{\"url\":\"https://t.co/jyd4Ka8YoW\",\"expanded_url\":\"https://www.instagram.com/p/BUoiVMQAWTK/\",\"display_url\":\"instagram.com/p/BUoiVMQAWTK/\",\"indices\":[54,77]}],\"user_mentions\":[],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\",\"timestamp_ms\":\"1495968826332\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":169,"y":74.8610610961914,"wires":[["e34351de.a691b"]]},{"id":"e34351de.a691b","type":"json","z":"ca72ff25.f066a8","name":"","x":326.5,"y":121.8610610961914,"wires":[["d077b48d.c89b38"]]},{"id":"5966ad88.aa7624","type":"function","z":"ca72ff25.f066a8","name":"add to counter","func":"msg.payload={};\ncontext.global.set('counter',(context.global.get('counter')+1));\nreturn msg;","outputs":1,"noerr":0,"x":943.3333740234375,"y":95.52772521972656,"wires":[[]]},{"id":"851a283e.ef8fb8","type":"inject","z":"ca72ff25.f066a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":94.99993896484375,"y":742.1943664550781,"wires":[["652c7ab0.c51234"]]},{"id":"652c7ab0.c51234","type":"function","z":"ca72ff25.f066a8","name":"set global variables for throughput","func":"context.global.set('counter',0);\n\ncontext.global.set('startTime',Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":362.66668701171875,"y":740.5277252197266,"wires":[[]]},{"id":"ff99bb59.706ca","type":"inject","z":"ca72ff25.f066a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.83331298828125,"y":512.1943664550781,"wires":[["41edd586.da98bc"]]},{"id":"41edd586.da98bc","type":"function","z":"ca72ff25.f066a8","name":"global get","func":"msg.payload={};\nmsg.payload.counter=context.global.get('counter');\nmsg.payload.timestamp=context.global.get('startTime');\nreturn msg;","outputs":1,"noerr":0,"x":273.66668701171875,"y":510.1943664550781,"wires":[["96131159.9cd43"]]},{"id":"96131159.9cd43","type":"debug","z":"ca72ff25.f066a8","name":"","active":true,"console":"false","complete":"payload","x":475.3333740234375,"y":512.5276794433594,"wires":[]},{"id":"1849bca4.bf5473","type":"inject","z":"ca72ff25.f066a8","name":"INSERT sample interval-REPEAT EVERY 30 seconds","topic":"","payload":"0.001","payloadType":"num","repeat":"30","crontab":"","once":false,"x":759.9406127929688,"y":254.86099243164062,"wires":[["27163802.95ba88"]]},{"id":"27163802.95ba88","type":"function","z":"ca72ff25.f066a8","name":"calculate Throughput","func":"var period=msg.payload;\nmsg.payload={};\n\n\nvar now=Date.now();\n//calculate time difference\nvar diff=(now-context.global.get('startTime'))/1000;\n//calculate target msgs/sec\nmsg.payload.target=(1/period);\n//calculate actual msgs/sec\nmsg.payload.actual=(context.global.get('counter'))/diff;\n\ncontext.global.set('counter',0);\ncontext.global.set('startTime',Date.now());\n\nmsg.payload.boxes=context.global.currentBoundingBoxes.length;\nreturn msg;","outputs":1,"noerr":0,"x":1101.16650390625,"y":248.36114501953125,"wires":[["18a60066.6920c8"]]},{"id":"40a02bd6.6620ec","type":"file","z":"ca72ff25.f066a8","name":"Store result","filename":"/home/user/users_throughput","appendNewline":false,"createDir":false,"overwriteFile":"false","x":964.2501220703125,"y":341.0276794433594,"wires":[]},{"id":"18a60066.6920c8","type":"csv","z":"ca72ff25.f066a8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"target,  boxes, actual","x":748.6666259765625,"y":342.7777099609375,"wires":[["96131159.9cd43","40a02bd6.6620ec"]]},{"id":"bbf2a070.0a3fa","type":"function","z":"ca72ff25.f066a8","name":"Add XX Boxes ToContextArray","func":"\n\nmsg.payload.currentCounter=0;\nmsg.payload.RegistrationTime=Date.now();\n//get data from payload and add to array\n//var obj = msg.payload;\nvar lengthsize=context.global.currentBoundingBoxes.length;\nvar alreadyIn=false;\n//for (i=0;i<lengthsize; i++){\n  //  if (msg.payload.routeID===context.global.currentBoundingBoxes[i].routeID){\n     //alreadyIn=true;\n    //}\n\n//}\nfor (i=0;i<5000; i++){\n    context.global.currentBoundingBoxes.push(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":268.52374267578125,"y":314.71820068359375,"wires":[[]]},{"id":"da379d6e.422158","type":"comment","z":"ca72ff25.f066a8","name":"Payload definition of sample interval","info":"For accurate inclusion of the target throughput\nyou need to insert as payload the same period\nyou have included in the Dummy Tweet inject node","x":665,"y":291.90478515625,"wires":[]},{"id":"1e40fa0a.3aeaee","type":"comment","z":"ca72ff25.f066a8","name":"Format of file","info":"target throughput, number of users, actual throughput","x":1432.1428833007812,"y":204.28570556640625,"wires":[]},{"id":"2eeb4858.157038","type":"comment","z":"ca72ff25.f066a8","name":"Period between messages","info":"The period interval between messages (that dictates\nthe final target throughput) should be included as\npayload in the Dummy Tweet inject node","x":125,"y":112.85713958740234,"wires":[]},{"id":"89b16ed7.0a9a2","type":"comment","z":"ca72ff25.f066a8","name":"Interval between changing number of users","info":"The inject node is triggered every 15 minutes and\nchanges number of registered users by the step\nthat is hardcoded in the respective function node\n\"Add XX boxes to boxes array\"","x":210.71428571428572,"y":219.99999999999997,"wires":[]},{"id":"cf732762.6e4fa","type":"comment","z":"ca72ff25.f066a8","name":"Initialization","info":"","x":127.5,"y":646.6666870117188,"wires":[]},{"id":"a7ec3b71.3741b","type":"comment","z":"ca72ff25.f066a8","name":"Monitoring","info":"","x":115.83331298828125,"y":396.6666564941406,"wires":[]},{"id":"f33da256.91b818","type":"comment","z":"ca72ff25.f066a8","name":"Sample and store","info":"In each trigger, the sample flow retrieves values\nfor the counter and timestamp and calculates the \nmessage per second metric based on these, storing\nthem at a file (configuration needed for the location\nof the file). At the end it resets these counters","x":777.5,"y":198.33334350585938,"wires":[]},{"id":"37469760.2a7a88","type":"comment","z":"ca72ff25.f066a8","name":"Main flow","info":"The main flow accepts incoming messages and \ntries to achieve target throughput. Each message\nis looped around all registered boxes (users)\nand when this is done the global counter \nis increased.","x":402.49999999999994,"y":34.99999999999999,"wires":[]}]
