DataIngestion/MadridTrafficDataIngestion/MadridDataFlow.json
[{"id":"f7b8df8d.c90558","type":"inject","name":"Periodically","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":122.5,"y":180,"z":"cfb387eb.f4f02","wires":[["427bb42.2bf684c","c677fd07.f0a0e8"]]},{"id":"118f8b5f.cb5195","type":"xml","name":"xml2json","attr":"$","chr":"_","x":519.5,"y":240,"z":"cfb387eb.f4f02","wires":[["989906f2.a239d8"]]},{"id":"989906f2.a239d8","type":"function","name":"Format","func":"function elQueEmpiezaPor(empiezaPor){\n\t\treturn function(item){ \n\t\t\t\treturn item.codigo.toString().indexOf(empiezaPor) === 0; \n\t\t\t}\n\t}\n\nvar losDatos = msg.payload;\n\nmsg.payload = losDatos.pms.pm.filter(elQueEmpiezaPor(\"PM\"));\n\nreturn msg;","outputs":1,"valid":true,"x":553.5,"y":280,"z":"cfb387eb.f4f02","wires":[["a2833ba7.4386a"]]},{"id":"95cddc08.e79ee","type":"function","name":"Format","func":"var obj = msg.payload;\n\nobj.ts = context.global.ts3;\nobj.tf = context.global.tf3;\n\nmsg.payload = JSON.stringify(obj);\n\nmsg.payload=(msg.payload).replace(/\\[/g,\"\");\nmsg.payload=(msg.payload).replace(/\\]/g,\"\");\n\nreturn msg;","outputs":1,"valid":true,"x":731.5,"y":320,"z":"cfb387eb.f4f02","wires":[["d5270c83.7c3fe8"]]},{"id":"a2833ba7.4386a","type":"splitter","name":"","property":"payload","x":592.5,"y":320,"z":"cfb387eb.f4f02","wires":[["95cddc08.e79ee"]]},{"id":"427bb42.2bf684c","type":"function","name":"Get Time","func":"var d = new Date();\nvar n = d.getTime();\n\ncontext.global.ts3 = n;\ncontext.global.tf3 = context.global.dateformat(d,\"HH:MM:ss\");\n\nreturn;","outputs":"0","valid":true,"x":300,"y":120,"z":"cfb387eb.f4f02","wires":[]},{"id":"b82d7b7c.6ee578","type":"file","name":"raw.xml","filename":"workdir/madrid/raw.xml","appendNewline":true,"overwriteFile":"false","x":512.5,"y":160,"z":"cfb387eb.f4f02","wires":[]},{"id":"c677fd07.f0a0e8","type":"exec","command":"curl http://informo.munimadrid.es/informo/tmadrid/pm.xml","addpay":false,"append":"","useSpawn":"","name":"Request Traffic State","x":338,"y":220,"z":"cfb387eb.f4f02","wires":[["b82d7b7c.6ee578","118f8b5f.cb5195","57c9ee94.ad2128"],[],[]]},{"id":"57c9ee94.ad2128","type":"file","name":"rawLast.xml","filename":"workdir/madrid/rawLast.xml","appendNewline":true,"overwriteFile":"true","x":526,"y":200,"z":"cfb387eb.f4f02","wires":[]},{"id":"5d817561.d3f5dc","type":"comment","name":"********* REAL-TIME DATA FROM MADRID TRAFFIC SCENARIO *********","info":"","x":449.88330078125,"y":72.88333129882812,"z":"cfb387eb.f4f02","wires":[]}]