ApplicationLayer/CorrelateEvents.json
[{"id":"de438dd7.d5f64","type":"debug","name":"Printout","active":true,"console":"false","complete":"true","x":1119.642822265625,"y":256.7857360839844,"z":"b3090b72.e69c7","wires":[]},{"id":"bf648ff6.f460b","type":"comment","name":"identify which MPs are near using radius","info":"","x":837.40478515625,"y":487.03582763671875,"z":"b3090b72.e69c7","wires":[]},{"id":"829ab060.6bccb","type":"function","name":"Distance--radius in msg.rad","func":"//for every PM in the global variable\n//enter content of global variable[i]\n//in msg.task1\nvar arrayLength = context.global.currentBadLocations.length;\nfor (var i = 0; i < arrayLength; i++) {\n    \n    msg.task1=context.global.currentBadLocations[i];\n    \nvar distance=getDistanceFromLatLonInKm(msg.lat,msg.lon, msg.task1.lat,msg.task1.lon);\n//var radius=msg.rad;\nmsg.distance=distance;\n\n//return msg;\nnode.send(msg);\n}\n\nfunction getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}","outputs":1,"valid":true,"x":848.2498664855957,"y":429.7619152069092,"z":"b3090b72.e69c7","wires":[["92580fdd.8156a","de438dd7.d5f64"]]},{"id":"14845ac0.58204d","type":"debug","name":" IN RADIUS","active":true,"console":"false","complete":"true","x":1492.5116958618164,"y":450.54759407043457,"z":"b3090b72.e69c7","wires":[]},{"id":"e81f4db5.1c744","type":"comment","name":"DATA OUTPUT- EVENT NOTIFICATION","info":"{\n\"target\":\"datagramServer\",\n  \"vep_data\": [\n    {\n      \"dataLayer\": {\n        \"layer\": \"ROUTESMAD.alarms\",\n        \"idRoute\": \"55d1801ffb954f08f8f1489f\",\n        \"idSesion\": \"21d1701fab914f08c8e1438e\",\n        \"instant\": \"2015-08-10 14:53:02.462053\",\n        \"codeAlarm\": \"10\",\n        \"textAlarm\": \"Traveler outside the planned route\",\n        \"levelAlarm\": \"W\",\n        \"geometry\": {\n          \"type\": \"Point\",\n          \"coordinates\": [\n            \"-3.69138338267\",\n            \"40.4211505276\"\n          ]\n        }\n      }\n    }\n   ]\n}\n","x":1469.5594940185547,"y":335.90480613708496,"z":"b3090b72.e69c7","wires":[]},{"id":"d1a8cd6a.e78398","type":"debug","name":"BAD","active":true,"console":"false","complete":"true","x":402.6546516418457,"y":572.0000076293945,"z":"b3090b72.e69c7","wires":[]},{"id":"6e03e670.17f83","type":"function","name":"TransformJSON","func":"var obj = msg.payload;\n\n\n\nvar name = Object.keys(obj)[0];\n\nvar obj2 = {\"payload\": obj[name]};\n\nvar PM=obj.codigo;\nvar state=obj.state;\n\n\nreturn [obj2, name];\n","outputs":"2","valid":true,"x":168.41656112670898,"y":614.2857456207275,"z":"b3090b72.e69c7","wires":[["b5bec72f.46677"],[]]},{"id":"43373731.814168","type":"debug","name":"GOOD-DONOOP","active":false,"console":"false","complete":"state","x":360.416561126709,"y":748.2857761383057,"z":"b3090b72.e69c7","wires":[]},{"id":"ced04305.ccc6b","type":"json","name":"","x":173.41656112670898,"y":569.2857456207275,"z":"b3090b72.e69c7","wires":[["6e03e670.17f83"]]},{"id":"12f78cfb.eeae23","type":"inject","name":"test BAD traffic","topic":"","payload":"{\"bPM107631\":{\"state\":\"Bad\",\"status\":\"0\",\"img\":\"http://informo.munimadrid.es/informo/Camaras/Camara00041_mdf.jpg\",\"lon\":\"-3.7362283\",\"lat\":\"40.4339686\",\"tf\":\"16:40:17\",\"ts\":\"1445438417305\",\"DiffIntensity\":\"0.000000\",\"DiffSpeed\":\"0.000000\",\"ValueIntensity\":\"1200\",\"ValueSpeed\":\"47\",\"codigo\":\"PM12061\"}}","payloadType":"string","repeat":"","crontab":"","once":false,"x":182.41656112670898,"y":509.28577613830566,"z":"b3090b72.e69c7","wires":[["ced04305.ccc6b"]]},{"id":"b5bec72f.46677","type":"function","name":"FilterRelevantEvents","func":"\nvar PM=msg.payload.codigo;\nvar lat=msg.payload.lat;\nvar lon=msg.payload.lon;\nmsg.state=msg.payload.state;\n\nmsg.payload.codigo=PM;\nmsg.payload.lat=lat;\nmsg.payload.lon=lon;\n\nvar obj={\n    \"codigo\":PM,\n    \"lat\":lat,\n    \"lon\":lon,\n}\n\nif (msg.state==\"Bad\"){\n    //add point in global array if not already in\n    //if (context.global.currentBadLocations.indexOf(obj)==-1){\n    if (context.global.currentBadLocations.map(function(e) { return e.codigo; }).indexOf(PM)==-1){\n        context.global.currentBadLocations.push(obj);\n    }\n}else { //remove point\n    if (context.global.currentBadLocations.map(function(e) { return e.codigo; }).indexOf(PM)!=-1){\n        context.global.currentBadLocations.splice((context.global.currentBadLocations.map(function(e) { return e.codigo; }).indexOf(PM)),1)\n    }\n}\nmsg.topic=\"trafficEvent\";\n\nreturn msg;","outputs":1,"valid":true,"x":221.41656112670898,"y":665.2857761383057,"z":"b3090b72.e69c7","wires":[["2314ebe9.a3ac4c"]]},{"id":"2314ebe9.a3ac4c","type":"switch","name":"","property":"state","rules":[{"t":"eq","v":"Bad"},{"t":"eq","v":"Good"}],"checkall":"true","outputs":2,"x":382.416561126709,"y":664.2857761383057,"z":"b3090b72.e69c7","wires":[["d1a8cd6a.e78398"],["43373731.814168"]]},{"id":"229796e4.f559f2","type":"comment","name":"COSMOS EVENTS INTEGRATION","info":"This assumes the input from a messaging system (e.g. mosquitto broker).\n\nFor testing purposes we utilize the below testing flows to inject good and bad traffic events","x":221.41656112670898,"y":414.28577613830566,"z":"b3090b72.e69c7","wires":[]},{"id":"92580fdd.8156a","type":"switch","name":"","property":"distance","rules":[{"t":"lt","v":"msg.rad"},{"t":"gte","v":"msg.rad"}],"checkall":"true","outputs":2,"x":1174.0355911254883,"y":527.3808965682983,"z":"b3090b72.e69c7","wires":[["14845ac0.58204d"],["6bbe66b1.2158d8"]]},{"id":"a08fa7dd.d807","type":"inject","name":"test Good Event n","topic":"","payload":"{\"bPM107631\":{\"state\":\"Good\",\"status\":\"0\",\"img\":\"http://informo.munimadrid.es/informo/Camaras/Camara00041_mdf.jpg\",\"lon\":\"-3.7362283\",\"lat\":\"40.4339686\",\"tf\":\"16:40:17\",\"ts\":\"1445438417305\",\"DiffIntensity\":\"0.000000\",\"DiffSpeed\":\"0.000000\",\"ValueIntensity\":\"1200\",\"ValueSpeed\":\"47\",\"codigo\":\"PM12061\"}}","payloadType":"string","repeat":"","crontab":"","once":false,"x":161.66650772094727,"y":824.8691167831421,"z":"b3090b72.e69c7","wires":[["e7e8e558.2e541"]]},{"id":"e7e8e558.2e541","type":"json","name":"","x":114.99996566772461,"y":739.8691787719727,"z":"b3090b72.e69c7","wires":[["6e03e670.17f83"]]},{"id":"16de823b.766cde","type":"function","name":"Initialize Global Array","func":"context.global.currentBadLocations= [];\nreturn msg;","outputs":1,"valid":true,"x":251.96422576904297,"y":178.2619285583496,"z":"b3090b72.e69c7","wires":[[]]},{"id":"e2762749.c76ac8","type":"function","name":"Print array","func":"msg.payload=context.global.currentBadLocations;\nreturn msg;","outputs":1,"valid":true,"x":299.5832099914551,"y":236.29778957366943,"z":"b3090b72.e69c7","wires":[["e900d539.23dca"]]},{"id":"e900d539.23dca","type":"debug","name":"","active":true,"console":"false","complete":"false","x":267.20235443115234,"y":290.5833513736725,"z":"b3090b72.e69c7","wires":[]},{"id":"b17192c9.de7af","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.44040298461914,"y":239.63108277320862,"z":"b3090b72.e69c7","wires":[["e2762749.c76ac8"]]},{"id":"6a5b2154.c70af8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.78565216064453,"y":116.51192855834961,"z":"b3090b72.e69c7","wires":[["16de823b.766cde"]]},{"id":"a86207d5.81fd6","type":"inject","name":"test BAD traffic 2","topic":"","payload":"{\"bPM41302\":{\"state\":\"Bad\",\"status\":\"0\",\"img\":\"http://informo.munimadrid.es/informo/Camaras/Camara00041_mdf.jpg\",\"lon\":\"-3.693365\",\"lat\":\"40.374908\",\"tf\":\"16:40:17\",\"ts\":\"1445438417305\",\"DiffIntensity\":\"0.000000\",\"DiffSpeed\":\"0.000000\",\"ValueIntensity\":\"1200\",\"ValueSpeed\":\"47\",\"codigo\":\"PM41302\"}}","payloadType":"string","repeat":"","crontab":"","once":false,"x":478.3332176208496,"y":492.3690891265869,"z":"b3090b72.e69c7","wires":[["ced04305.ccc6b"]]},{"id":"ad71f20c.62f9e8","type":"inject","name":"test GOOD traffic 2","topic":"","payload":"{\"bPM41302\":{\"state\":\"Good\",\"status\":\"0\",\"img\":\"http://informo.munimadrid.es/informo/Camaras/Camara00041_mdf.jpg\",\"lon\":\"-3.693365\",\"lat\":\"40.374908\",\"tf\":\"16:40:17\",\"ts\":\"1445438417305\",\"DiffIntensity\":\"0.000000\",\"DiffSpeed\":\"0.000000\",\"ValueIntensity\":\"1200\",\"ValueSpeed\":\"47\",\"codigo\":\"PM41302\"}}","payloadType":"string","repeat":"","crontab":"","once":false,"x":171.66656494140625,"y":920.7024269104004,"z":"b3090b72.e69c7","wires":[["e7e8e558.2e541"]]},{"id":"1cdffb92.f836fc","type":"comment","name":"Input specification- A given GPS in lat, lon coordinates","info":"Assumes properties of msg to have msg.lat and msg.lon attributes for GPS location\nand msg.rad property for defining which radius is considered affecting","x":803.9284286499023,"y":35.3571891784668,"z":"b3090b72.e69c7","wires":[]},{"id":"44d705ab.fa4fd4","type":"comment","name":"Initialization specification","info":"\nGiven that asynchronous messages arrive with good and bad traffic state and the \ncoordinates of this point typically every 5 minutes, they need to be kept locally\n(in global variables) since a user GPS event may arrive multiple times in this 5 minute period.\nIf they are not maintained but are e.g. synced in one node, only the first user GPS event will\nbe aware of the traffic event.\n\nThus for the flow to work correctly, each time nodered is restarted we need to initialize a\nglobal variable of array type in order to store the incoming traffic events.\n\nThis array is then populated each time we press the \"test Bad traffic\" button in the test flows\nbelow. A new array position is created if the existing measurement point (PM) is not already\nlogged. If a good event arrives on the same PM, it is removed from the list.\n\n\n","x":156.78572845458984,"y":41.071434020996094,"z":"b3090b72.e69c7","wires":[]},{"id":"bb0003cc.cf707","type":"inject","name":"","topic":"","payload":"{\"lon\":-3.7362284, \"lat\":\"40.4339689\", \"rad\":10}","payloadType":"string","repeat":"","crontab":"","once":false,"x":581.0714340209961,"y":89.64284992218018,"z":"b3090b72.e69c7","wires":[["37d71edf.b1f0e2"]]},{"id":"7eaa8bd6.006a34","type":"function","name":"Move to msg.lon, msg.lat","func":"msg.lon=msg.payload.lon;\n\nmsg.lat=msg.payload.lat;\n\nmsg.rad=msg.payload.rad;\nreturn msg;","outputs":1,"valid":true,"x":838.2142857142857,"y":195.35714285714283,"z":"b3090b72.e69c7","wires":[["829ab060.6bccb"]]},{"id":"37d71edf.b1f0e2","type":"json","name":"","x":755.357177734375,"y":118.21428680419922,"z":"b3090b72.e69c7","wires":[["7eaa8bd6.006a34"]]},{"id":"6bbe66b1.2158d8","type":"debug","name":"NOT IN RADIUS","active":true,"console":"false","complete":"true","x":1471.0714111328125,"y":581.0714721679688,"z":"b3090b72.e69c7","wires":[]}]