SparkServiceScriptSubmission/SparkServiceFlow.txt
[{"id":"f322a922.a9fe6","type":"exec","z":"90dd8965.bb04a8","command":"/home/wp6/spark-1.5.0/bin/spark-submit /home/wp6/restspark/query.py ","addpay":false,"append":"","useSpawn":"","name":"SparkSubmit","x":531.5,"y":219.16668701171875,"wires":[["5dec3153.707db"],[],[]]},{"id":"48eb2b37.dc57b4","type":"http in","z":"90dd8965.bb04a8","name":"","url":"/postscript","method":"post","x":115,"y":358,"wires":[["cbe130d6.67246","814e67d3.10d61"]]},{"id":"211c20b7.4e11b8","type":"comment","z":"90dd8965.bb04a8","name":"Receive script from post","info":"\n\n","x":144,"y":400,"wires":[]},{"id":"5dec3153.707db","type":"http response","z":"90dd8965.bb04a8","name":"","x":522,"y":417,"wires":[]},{"id":"cbe130d6.67246","type":"file","z":"90dd8965.bb04a8","name":"","filename":"/home/wp6/restspark/query.py","appendNewline":false,"createDir":true,"overwriteFile":"true","x":228,"y":230,"wires":[]},{"id":"814e67d3.10d61","type":"delay","z":"90dd8965.bb04a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342,"y":379,"wires":[["f322a922.a9fe6"]]},{"id":"a2342c4a.6eda8","type":"http request","z":"90dd8965.bb04a8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/ep/postscript","x":242,"y":563,"wires":[["305d9b4f.ad3c1c"]]},{"id":"95284a58.9639f","type":"inject","z":"90dd8965.bb04a8","name":"Double click to insert script","topic":"","payload":"Insert script content here","payloadType":"string","repeat":"","crontab":"","once":false,"x":81,"y":497,"wires":[["a2342c4a.6eda8"]]},{"id":"305d9b4f.ad3c1c","type":"debug","z":"90dd8965.bb04a8","name":"","active":true,"console":"false","complete":"false","x":423,"y":554,"wires":[]},{"id":"ad885eac.ac19e8","type":"comment","z":"90dd8965.bb04a8","name":"Send script as text","info":"","x":286.8833312988281,"y":503.3833312988281,"wires":[]},{"id":"64d6d50e.7819c4","type":"comment","z":"90dd8965.bb04a8","name":"DOUBLE CLICK TO README","info":"This is a POST service in order to receive a script content as input\nto be run with a specific tool (in this case Apache Spark).\n\nFile name, command and path dependencies exist, be sure to adapt to them.\n\n","x":180.88333129882812,"y":145.38333129882812,"wires":[]}]