LeanBigData Sentiment Analysis/sentiment flow.json
[{"id":"37820782.3bb23","type":"subflow","name":"LeanBigDataSentiment","in":[{"x":219.75,"y":120.75,"wires":[{"id":"e49c01e9.9fc41"}]}],"out":[{"x":1025,"y":396,"wires":[{"id":"646451bd.7ee418","port":0}]}]},{"id":"18e7f171.56442f","type":"http request","name":"LeanBigData Sentiment Service","method":"GET","ret":"txt","url":"","x":785.75,"y":113.75,"z":"37820782.3bb23","wires":[["646451bd.7ee418"]]},{"id":"e49c01e9.9fc41","type":"function","name":"Parse trigger to url","func":"msg.url=\"http://sentimentanalysis.grid.ece.ntua.gr:8080/SentimentAnalysisWS/rest/senti/getSentiment?text=\"+msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":383.75,"y":120.75,"z":"37820782.3bb23","wires":[["18e7f171.56442f"]]},{"id":"646451bd.7ee418","type":"function","name":"If mapping to score is needed this can be done here","func":"\nreturn msg;","outputs":1,"valid":true,"x":934.75,"y":187.75,"z":"37820782.3bb23","wires":[[]]},{"id":"4bcb962f.ac7068","type":"comment","name":"Input/Output","info":"Takes as input text for analysis the string in msg.payload.\n\nSentiment analysis output is again provided in the msg.payload field of the output.\n\nContacts the LeanBigData Sentiment Analysis service that replies with a triple status (Negative/Positive/Neutral).\n\nIf mapping to numerical score is needed this can be added inside the subflow in the relevant function node.\n\n","x":416.75,"y":259.75,"z":"37820782.3bb23","wires":[]},{"id":"c4ba9c50.387078","type":"inject","name":"double-click to insert text in payload","topic":"","payload":"test","payloadType":"string","repeat":"","crontab":"","once":false,"x":203.5,"y":195.75,"z":"75e9b736.3d84c8","wires":[["6ae1f2f2.2b9c24"]]},{"id":"6ae1f2f2.2b9c24","type":"subflow:37820782.3bb23","name":"LeanBigDataSentiment","x":511.25,"y":190.25,"z":"75e9b736.3d84c8","wires":[["5c547d7b.5ffb1c"]]},{"id":"5c547d7b.5ffb1c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":716.75,"y":192.75,"z":"75e9b736.3d84c8","wires":[]}]